:root {
  --ara-button-bg-color: var(--ara-color-surface-action);
  --ara-button-bg-color--disabled: var(--ara-color-surface--disabled);
  --ara-button-bg-color--focus: var(--ara-color-surface-action--focus);
  --ara-button-bg-color--hover: var(--ara-color-surface-action--hover);
  --ara-button-bg-color--loading: var(--ara-color-surface-action--loading);
  --ara-button-bg-color--pressed: var(--ara-color-surface-action--pressed);
  --ara-button-border-color: var(--ara-color-border-subtle);
  --ara-button-border-radius: var(--ara-radius-x1);
  --ara-button-border-width: var(--ara-border-width-x1);
  --ara-button-focus-ring-color: var(--ara-color-focus-ring);
  --ara-button-focus-ring-offset: var(--ara-spacing-x1);
  --ara-button-focus-ring-width: var(--ara-border-width-x1);
  --ara-button-padding-block: var(--ara-spacing-x1);
  --ara-button-padding-inline: var(--ara-spacing-x1);
  --ara-button-text-color: var(--ara-color-text-action);
  --ara-button-text-color--disabled: var(--ara-color-text--disabled);
  --ara-button-text-color--loading: var(--ara-color-text-action--loading);
}

.button {
  background-color: var(--ara-button-bg-color);
  border-color: var(--ara-button-border-color);
  border-radius: var(--ara-button-border-radius);
  border-width: var(--ara-button-border-width);
  color: var(--ara-button-text-color);
  padding-block: var(--ara-button-padding-block);
  padding-inline: var(--ara-button-padding-inline);
}

.button:hover {
  background-color: var(--ara-button-bg-color--hover);
}

.button:focus {
  background-color: var(--ara-button-bg-color--focus);
  outline-color: var(--ara-button-focus-ring-color);
  outline-offset: var(--ara-button-focus-ring-offset);
  outline-width: var(--ara-button-focus-ring-width);
}

.button[data-pressed] {
  background-color: var(--ara-button-bg-color--pressed);
}

.button:disabled,
.button[aria-disabled='true'] {
  background-color: var(--ara-button-bg-color--disabled);
  color: var(--ara-button-text-color--disabled);
}

.button[data-loading] {
  background-color: var(--ara-button-bg-color--loading);
  color: var(--ara-button-text-color--loading);
}
