:root {
  --arachne-separator-color: var(--arachne-border-color-subtle);
  --arachne-separator-thickness: var(--arachne-border-width-x1);
  --arachne-separator-margin: var(--arachne-space-x1) 0;
}

.base {
  border-top-color: var(--arachne-separator-color);
  border-top-width: var(--arachne-separator-thickness);
  margin: var(--arachne-separator-margin);
}
