:root {
  --ara-separator-detail: var(--ara-color-content-detail);
  --ara-separator-margin-cap: var(--ara-spacing-x1);
  --ara-separator-margin-side: auto;
  --ara-separator-style: inset;
  --ara-separator-thickness: var(--ara-border-width-x1);
}

.separator {
  border: 0;
  block-size: 0;
  border-block-start: var(--ara-separator-thickness) var(--ara-separator-style)
    var(--ara-separator-detail);
  inline-size: 100%;
  margin-block: var(--ara-separator-margin-cap);
  margin-inline: var(--ara-separator-margin-side);
}

.vertical {
  block-size: 100%;
  border-block-start: 0;
  border-inline-end: var(--ara-separator-thickness) solid
    var(--ara-separator-detail);
  inline-size: 0;
  margin-block: var(--ara-separator-margin-side);
  margin-inline: var(--ara-separator-margin-cap);
}
